{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #3e2723;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2rem;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7043;
}

#hero h3 {
   text-align: center;
}

#hero h1 {
    background-image: url('https://via.placeholder.com/1500x800');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center; 
    align-items: center; 
  
}

.btn {
    padding: 15px 30px;
    background-color: #6d4c41;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5d4037;
}
    
}

/* Menu */
#menu {
    padding: 40px 20px;
    text-align: center;
}

#menu h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1rem;
   
}

/* Sobre */
#sobre {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

#sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Contato */
#contato {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#contato h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contato p {
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    background-color: #3e2723;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}
